.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

.todo-container {
  padding: 20px;
}

.todo-title {
  font-size: 1.4em;
  color: #222222;
  font-weight: 900;
}

.todo-list {  
  padding: 20px;
}

.todo-form {
  margin-top: 10px;
}

.todo-item {
  padding: 8px;
}

.todo-task {
  margin-left: 10px;
  color: #444444;
}

.todo-category {
  margin-left: 10px;
  color: #333333;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 0.9em;
}

.combo-container {
  background-color: #eeeeee;
  padding: 20px;
}